WEBPASSWORD={{ install_pihole__webpassword_hashed.stdout | replace("  -","") }}
PIHOLE_INTERFACE={{ install_pihole__interface }}
IPV4_ADDRESS={{ install_pihole__ipv4_address }}
QUERY_LOGGING={{ install_pihole__query_logging }}
INSTALL_WEB={{ install_pihole__install_web }}
DNSMASQ_LISTENING={{ install_pihole__dnsmasq_listening }}
PIHOLE_DNS_1={{ install_pihole__dns_1 }}
PIHOLE_DNS_2={{ install_pihole__dns_2 }}
DNS_FQDN_REQUIRED={{ install_pihole__dns_fqdn_required }}
DNS_BOGUS_PRIV={{ install_pihole__dns_bogus_priv }}
DNSSEC={{ install_pihole__dnssec }}
TEMPERATUREUNIT={{ install_pihole__temperatureunit }}
WEBUIBOXEDLAYOUT={{ install_pihole__webuiboxedlayout }}
API_QUERY_LOG_SHOW={{ install_pihole__api_query_logs_show }}
API_PRIVACY_MODE={{ install_pihole__api_privacy_mode }}
