WEBPASSWORD={{ install_pihole_webpassword_hashed.stdout | replace("  -","") }}
PIHOLE_INTERFACE={{ install_pihole_interface }}
IPV4_ADDRESS={{ install_pihole_ipv4_address }}
QUERY_LOGGING={{ install_pihole_query_logging }}
INSTALL_WEB={{ install_pihole_install_web }}
DNSMASQ_LISTENING={{ install_pihole_dnsmasq_listening }}
PIHOLE_DNS_1={{ install_pihole_dns_1 }}
PIHOLE_DNS_2={{ install_pihole_dns_2 }}
DNS_FQDN_REQUIRED={{ install_pihole_dns_fqdn_required }}
DNS_BOGUS_PRIV={{ install_pihole_dns_bogus_priv }}
DNSSEC={{ install_pihole_dnssec }}
TEMPERATUREUNIT={{ install_pihole_temperatureunit }}
WEBUIBOXEDLAYOUT={{ install_pihole_webuiboxedlayout }}
API_QUERY_LOG_SHOW={{ install_pihole_api_query_logs_show }}
API_PRIVACY_MODE={{ install_pihole_api_privacy_mode }}
